<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message %></h4>
            <p>Aww yeah, you succesfully read this important message that you can see how spacing within an alert works.</p>
            <hr>
            <p class="mb-0">Whenever you need to be sure to help.</p>
            <!-- for developers -->
             <p><%=err.stack%></p>
        </div>
    </div>
</div>